.test{
  color: brown;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.name {
  font-size: 7em;
}

html {
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.href-links {
  text-decoration:none;
  color: inherit;
}

#show:hover + #hidden {
  display: block;
}

.grow { 
  transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.1); 
  }

.body-font {
  font-family: 'Montserrat', sans-serif;
}

.flexbox-container {
  display: flex;
  justify-content: center;  
}

.flexbox-container-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-images {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 205px;
}

.devicons {
  font-size: 5rem;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
}

.devicon-div {
  border: 1px solid #ffffff;
  margin: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.github-icon {
  font-size: 3rem;
}

.interests-icon {
  width: 150px;
}

.flexbox-item {
width: 50%;
margin:10px;
background-color: rgb(255, 255, 255);
}

.flexbox-item-1 {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexbox-item-2 {
  min-height: 100px;
  display: flex;
  align-items: center;
  
}

/* quick reset and base styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: helvetica, arial, sans-serif;
}

/* relevant styles */
.img__wrap {
  position: relative;
  height: 320px;
  width: 320px;
}

.img__description_layer {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(49, 48, 48, 0.849);
  color: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 205px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
  font-size: 1rem;
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

.blog-font {
  font-family: 'Montserrat', sans-serif;
}

.blog-image {
  width:500px;
  height: auto;
  border: solid white 2px;
  padding: 5px;  
}

.blog-image-figure {
  float: right;
  margin: 10px;
  text-align: right;
}


@import '~bulma/css/bulma.css';